{:output-wrapper true, :externs ["closure-js/externs"], :libs ["closure-js/libs"], :main yugiohcardeffect.cljs.builder, :output-to "resources/public/js/main.js", :output-dir "resources/public/js", :optimizations :advanced, :asset-path "/js", :pretty-print false}